 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A história</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Bom, vamos começar com a história desse casal tão querido: Cezar e Mary!
                    </p>
                </div>
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Cezar sempre teve o sonho de conhecer o mundo lá fora, por diversas vezes ele compartilhou essa vontade, mas,
                        por algumas circunstâncias, ele acabou deixando esse sonho um pouco de lado e seguiu a vida se dedicando a sua
                        rotina e seu trabalho.
                    </p>
                </div>
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Mary sempre alegre e comunicativa, também tinha um sonho em seu coração: "casar e ir conhecer o mundo"; e por
                        algumas vezes, compartilhou isso e entregou nas mãos de Deus. Seguia a vida em seu ministério e trabalho.
                    </p>
                </div>
                
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        O encontro desse casal rolou quando ambos decidiram cuidar mais do seu corpo e se conheceram no Crossfit.
                        Começaram uma amizade despretensiosa, conversas após os treinos, e as semelhanças entre os dois era algo que
                        chamava atenção. Os gostos, as idéias, naturalmente combinavam.
                    </p>
                </div>
                
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        E ai... o interesse veio de uma forma muito expontânea. Aos poucos, a Mary despertou o interesse no Cezar em se
                        aproximar das coisas de Deus, e assim, os dois tiveram a certeza de que Deus não uni pessoas, mas sim,
                        propósitos!!
                    </p>
                </div>
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Começaram a namorar. Logo colocaram em oração o desejo de ir morar fora, e aos poucos o sonho foi tomando forma.
                        Noivaram na virada do ano, iniciando assim, o 2020 noivos!!
                    </p>
                </div>
                
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        E Deus é perfeito em tudo o que faz, temos esse casal tão amado, que estão se programando para casar no civil em
                        fevereiro, e em 09 de março estarão partindo para morar em Portugal.
                    </p>
                </div>
                
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Se você está lendo tudo isso é porque você é importante para esse casal, por isso, faça parte da realização
                        desse sonho e ajude com qualquer quantia.
                    </p>
                </div>
                
                <div class="mary-cezar col-lg-6 col-lg-offset-3">
                    <p>
                        Ainda é surpresa para eles, pois, faremos uma despedida dia 07 de Março, onde será entregue a quantia
                        arrecadada, além de contar com a sua presença.
                    </p>
                </div>
            </div>
        </div>
    </section>
